/* Add any custom styles here */
body {
    background-color: #f8f9fa;
}

.container {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

h2 {
    color: #007bff;
    margin-bottom: 20px;
}

h5 {
    color: #008000;
    margin-bottom: 20px;
}